[submodule "heapspunk"]
	path = src/heapspunk
	url = https://github.com/rahil627/heapspunk.git
[submodule "rathewolf-haxe-libraries"]
	path = src/rathewolf-haxe-libraries
	url = https://github.com/rahil627/rathewolf-haxe-libraries.git

